<robot name="my_base" xmlns:xacro="http://www.ros.org/wiki/xacro">
   <xacro:include filename="head.xacro" />
   <xacro:include filename="demo05.urdf.xacro" />
   <xacro:include filename="demo06_car_camera.xacro" />
   <xacro:include filename="demo07_laser.xacro" />
   <xacro:include filename="gazebo/move.xacro" />
   <xacro:include filename="gazebo/laser.xacro" />
   <xacro:include filename="gazebo/camera.xacro" />
    <xacro:include filename="gazebo/kinect.xacro" />


</robot>